## Goals:

**1. Determine drivers of sentiment in the flavor text in Magic: The Gathering cards.**

**2. Develop a model to predict the sentiment of flavor text in Magic: The Gathering cards.**

In [1]:
# imports

import pandas
import prepare as p

# Prepare

A CSV, containing an up to date breakdown of each Magic card that has been printed so far, was obtained from MTGJSON.com. The data was then read into a pandas dataframe.

In [2]:
df = pandas.read_csv('cards.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,8,14,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The dataframe contained 50,412 rows and 71 columns

The process of preparing the data begins by selecting columns that are patentualy relivent to sentiment.

In [3]:
df.shape

(50412, 71)

In [4]:
df.columns

Index(['index', 'id', 'artist', 'borderColor', 'colorIdentity',
       'colorIndicator', 'colors', 'convertedManaCost', 'duelDeck',
       'edhrecRank', 'faceConvertedManaCost', 'flavorText', 'frameEffect',
       'frameEffects', 'frameVersion', 'hand', 'hasFoil', 'hasNoDeckLimit',
       'hasNonFoil', 'isAlternative', 'isArena', 'isBuyABox', 'isDateStamped',
       'isFullArt', 'isMtgo', 'isOnlineOnly', 'isOversized', 'isPaper',
       'isPromo', 'isReprint', 'isReserved', 'isStarter', 'isStorySpotlight',
       'isTextless', 'isTimeshifted', 'layout', 'leadershipSkills', 'life',
       'loyalty', 'manaCost', 'mcmId', 'mcmMetaId', 'mtgArenaId', 'mtgoFoilId',
       'mtgoId', 'multiverseId', 'name', 'names', 'number', 'originalText',
       'originalType', 'otherFaceIds', 'power', 'printings', 'purchaseUrls',
       'rarity', 'scryfallId', 'scryfallIllustrationId', 'scryfallOracleId',
       'setCode', 'side', 'subtypes', 'supertypes', 'tcgplayerProductId',
       'text', 'toughness', 'type', 'types', 'uuid', 'variations',
       'watermark'],
      dtype='object')

In [5]:
df = df[['colorIdentity','types','convertedManaCost','rarity','flavorText','isPaper']]

In [6]:
df = df[df.isPaper==1]
df = df.drop(columns='isPaper')
df.head()

,colorIdentity,types,convertedManaCost,rarity,flavorText
0,G,Enchantment,4.0,rare,NaN
1,U,Creature,3.0,uncommon,They brandish their latest theories as warrior...
2,"U,W",Land,0.0,rare,NaN
3,B,Instant,3.0,common,"One rarely notices a heartbeat, save when it i..."
4,G,Instant,2.0,common,"The power of the wild, concentrated in a singl..."

In [7]:
df = df[df.flavorText.notna()]

In [8]:
df.head()

,colorIdentity,types,convertedManaCost,rarity,flavorText
1,U,Creature,3.0,uncommon,They brandish their latest theories as warrior...
3,B,Instant,3.0,common,"One rarely notices a heartbeat, save when it i..."
4,G,Instant,2.0,common,"The power of the wild, concentrated in a singl..."
5,B,Sorcery,4.0,uncommon,"In the aftermath of war, when the slaying is l..."
6,U,Creature,5.0,uncommon,"""The East Wind, an interloper in the dominions..."

In [9]:
df.shape

(25557, 5)

In [14]:
colors = ['W','U','B','R','G']

df = df.loc[df.colorIdentity.isin(colors)]

In [15]:
df.shape

(19867, 5)

In [17]:
df.types.value_counts()

Creature                             11187
Instant                               3081
Sorcery                               2921
Enchantment                           2181
Artifact,Creature                      145
Land                                   105
Enchantment,Creature                    87
Artifact                                58
Tribal,Instant                          31
Artifact,Land                           20
Tribal,Enchantment                      19
Tribal,Sorcery                          18
Enchantment,Artifact                     6
Summon                                   3
Planeswalker                             1
Scariest,Creature,You’ll,Ever,See        1
instant                                  1
Eaturecray                               1
Land,Creature                            1
Name: types, dtype: int64

,colorIdentity,types,convertedManaCost,rarity,flavorText
20122,R,Planeswalker,4.0,mythic,"""Sure, I could set things on fire by myself. B..."