## Goals:

**1. Determine drivers of sentiment in the flavor text in Magic: The Gathering cards.**

**2. Develop a model to predict the sentiment of flavor text in Magic: The Gathering cards.**

In [1]:
# imports

import pandas
import prepare as p

# Prepare

A CSV, containing an up to date breakdown of each Magic card that has been printed so far, was obtained from MTGJSON.com. The data was then read into a pandas dataframe.

In [2]:
df = pandas.read_csv('cards.csv')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,8,14,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

The dataframe contained 50,412 rows and 71 columns

The process of preparing the data begins by selecting columns that are patentualy relivent to sentiment.

In [3]:
df.shape

(50412, 71)

In [4]:
df.columns

Index(['index', 'id', 'artist', 'borderColor', 'colorIdentity',
       'colorIndicator', 'colors', 'convertedManaCost', 'duelDeck',
       'edhrecRank', 'faceConvertedManaCost', 'flavorText', 'frameEffect',
       'frameEffects', 'frameVersion', 'hand', 'hasFoil', 'hasNoDeckLimit',
       'hasNonFoil', 'isAlternative', 'isArena', 'isBuyABox', 'isDateStamped',
       'isFullArt', 'isMtgo', 'isOnlineOnly', 'isOversized', 'isPaper',
       'isPromo', 'isReprint', 'isReserved', 'isStarter', 'isStorySpotlight',
       'isTextless', 'isTimeshifted', 'layout', 'leadershipSkills', 'life',
       'loyalty', 'manaCost', 'mcmId', 'mcmMetaId', 'mtgArenaId', 'mtgoFoilId',
       'mtgoId', 'multiverseId', 'name', 'names', 'number', 'originalText',
       'originalType', 'otherFaceIds', 'power', 'printings', 'purchaseUrls',
       'rarity', 'scryfallId', 'scryfallIllustrationId', 'scryfallOracleId',
       'setCode', 'side', 'subtypes', 'supertypes', 'tcgplayerProductId',
       'text', 'toughness', 'type', 'types', 'uuid', 'variations',
       'watermark'],
      dtype='object')

In [5]:
df = df[['name','colorIdentity','colors','convertedManaCost','flavorText','isPaper','rarity','subtypes','supertypes','types']]

In [6]:
df = df[df.isPaper==1]
df = df.drop(columns='isPaper')
df.head()

,name,colorIdentity,colors,convertedManaCost,flavorText,rarity,subtypes,supertypes,types
0,Abundance,G,G,4.0,NaN,rare,NaN,NaN,Enchantment
1,Academy Researchers,U,U,3.0,They brandish their latest theories as warrior...,uncommon,"Human,Wizard",NaN,Creature
2,Adarkar Wastes,"U,W",NaN,0.0,NaN,rare,NaN,NaN,Land
3,Afflict,B,B,3.0,"One rarely notices a heartbeat, save when it i...",common,NaN,NaN,Instant
4,Aggressive Urge,G,G,2.0,"The power of the wild, concentrated in a singl...",common,NaN,NaN,Instant

In [7]:
df = df[df.flavorText.notna()]

In [8]:
df.head()

,name,colorIdentity,colors,convertedManaCost,flavorText,rarity,subtypes,supertypes,types
1,Academy Researchers,U,U,3.0,They brandish their latest theories as warrior...,uncommon,"Human,Wizard",NaN,Creature
3,Afflict,B,B,3.0,"One rarely notices a heartbeat, save when it i...",common,NaN,NaN,Instant
4,Aggressive Urge,G,G,2.0,"The power of the wild, concentrated in a singl...",common,NaN,NaN,Instant
5,Agonizing Memories,B,B,4.0,"In the aftermath of war, when the slaying is l...",uncommon,NaN,NaN,Sorcery
6,Air Elemental,U,U,5.0,"""The East Wind, an interloper in the dominions...",uncommon,Elemental,NaN,Creature

In [9]:
df.colorIdentity.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25557 entries, 1 to 50411
Data columns (total 9 columns):
name                 25557 non-null object
colorIdentity        23071 non-null object
colors               22133 non-null object
convertedManaCost    25557 non-null float64
flavorText           25557 non-null object
rarity               25557 non-null object
subtypes             15479 non-null object
supertypes           1203 non-null object
types                25557 non-null object
dtypes: float64(1), object(8)
memory usage: 1.9+ MB

In [10]:
df.colorIdentity.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25557 entries, 1 to 50411
Data columns (total 9 columns):
name                 25557 non-null object
colorIdentity        23071 non-null object
colors               22133 non-null object
convertedManaCost    25557 non-null float64
flavorText           25557 non-null object
rarity               25557 non-null object
subtypes             15479 non-null object
supertypes           1203 non-null object
types                25557 non-null object
dtypes: float64(1), object(8)
memory usage: 1.9+ MB

In [11]:
def remove_comma(value):
    
    return value.replace(',',' ')

In [12]:
df = df.colorIdentity.apply(remove_comma)

AttributeError: 'float' object has no attribute 'replace'